jag-cornetnexus-application/src/main/resources/xsdSchemas/CORNETNexus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ICSAccountStatusService" targetNamespace="http://reeks.bcgov/CORNETNexus.Source.ICS.ws.provider:ICSAccountStatusService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://reeks.bcgov/CORNETNexus.Source.ICS.ws.provider:ICSAccountStatusService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://reeks.bcgov/CORNETNexus.Source.ICS.ws.provider:ICSAccountStatusService" xmlns:tns="http://reeks.bcgov/CORNETNexus.Source.ICS.ws.provider:ICSAccountStatusService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="getNexusAccountStatus" type="tns:getNexusAccountStatus"/>
            <xsd:element name="getNexusAccountStatusResponse" type="tns:getNexusAccountStatusResponse"/>
            <xsd:complexType name="getNexusAccountStatus">
                <xsd:sequence>
                    <xsd:element name="userId" type="xsd:string"/>
                    <xsd:element name="csNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getNexusAccountStatusResponse">
                <xsd:sequence>
                    <xsd:element name="created" nillable="true" type="xsd:string"/>
                    <xsd:element name="active" nillable="true" type="xsd:string"/>
                    <xsd:element name="date" nillable="true" type="xsd:string"/>
                    <xsd:element name="siteId" nillable="true" type="xsd:string"/>
                    <xsd:element name="responseCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ICSAccountStatusService_PortType_getNexusAccountStatusResponse">
        <wsdl:part name="parameters" element="tns:getNexusAccountStatusResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ICSAccountStatusService_PortType_getNexusAccountStatus">
        <wsdl:part name="parameters" element="tns:getNexusAccountStatus">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ICSAccountStatusService_PortType">
        <wsdl:operation name="getNexusAccountStatus">
            <wsdl:input message="tns:ICSAccountStatusService_PortType_getNexusAccountStatus">
            </wsdl:input>
            <wsdl:output message="tns:ICSAccountStatusService_PortType_getNexusAccountStatusResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CORNETNexus_Source_ICS_ws_provider_ICSAccountStatusService_Binder" type="tns:ICSAccountStatusService_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNexusAccountStatus">
            <soap:operation soapAction="CORNETNexus_Source_ICS_ws_provider_ICSAccountStatusService_Binder_getNexusAccountStatus" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CORNETNexus.Source.ICS.ws.provider.ICSAccountStatusService">
        <wsdl:port name="CORNETNexus_Source_ICS_ws_provider_ICSAccountStatusService_Port" binding="tns:CORNETNexus_Source_ICS_ws_provider_ICSAccountStatusService_Binder">
            <soap:address location="http://reeks.bcgov:5556/ws/CORNETNexus.Source.ICS.ws.provider.ICSAccountStatusService/CORNETNexus_Source_ICS_ws_provider_ICSAccountStatusService_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
